
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

header{
    background-color: #006C7C;
    width: 100%;
}

.list-nav{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-around;
}

.btn-info-nav{
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #006C7C;
    padding-bottom: 6px;
    font-size: 18px;
    padding: 25px 0;
    color: #d9d9d9;
    background-color: #006C7C;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.btn-info-nav:hover{
    border-bottom-color: #faf36d;
    color: #faf36d;
}

.list-social{
    display: flex;
    align-items: end;
    justify-content: space-around;
    gap: 20px;
}

.social:hover{
    transform: scale(1.1);
}


.titulo{
font-family:"Montserrat", sans-serif ;
color: white;
display: flex;
align-items: center;
justify-content: center;
font-size: 40px;
height: 180px;
background-color: #1690a3;
border-bottom: #faf36d solid;
}

.main-container{
    background-color: white;
    height: 3000px;

}

.img-texto{
    display: flex;
    justify-content:center;
}

.container-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

.img-onu{
    display: flex;
    justify-content: center;
    width: 600px;
}

.texto-p{
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 40px;
    font-family: "Montserrat", sans-serif;
}

.texto-p2{
    font-size: 25px;
    padding:40px;
    font-family: "Montserrat", sans-serif;
}

.img-texto2{
    display: flex;
    justify-content: space-between;
}

.img-onuu{
    height: 150px;
    width: 150px;
    
}

.texto-onuu{
    padding: 20px;
    font-size:20px;
    font-family: "Montserrat", sans-serif;
}

#secti{
    margin-bottom: 100px;
}

footer{
    background-color: #006C7C;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 2rem;
    position: fixed;
    border-top: #faf36d solid;
}

a{
    color: inherit;
}

a:visited{
    color: inherit;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px; 
}

#p-footer {
    flex-grow: 1; 
    text-align: center;
    margin: 0; 
    font-family: "Montserrat", sans-serif;
    color: #d9d9d9;
    font-size: 18px;
}

.img-footer{
    margin-right: auto; 
}



@media screen and (max-width: 480px) {
    
    header{
        display: flex;
        justify-content: center;
    }

    .img-logo-header{
        width: 200px;
    }

    .btn-info-nav{
       display: none;
    }
    
    .list-social{
        display: none;
    }

    .titulo{
        font-size: 20px;
        text-align: center;
    }

    .texto-p{
        font-size: 18px;
        width: 400px;
        text-align: justify;
    }

    .texto-p2{
        text-align: justify;
        font-size: 18px;
    }

    .img-texto{
        display: flex;
        flex-direction: column;
    }

    .img-onu{
        width: 350px;
        display: flex;
        align-items: center;

    }

    .container-texto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .secti{
        display: flex;
    }

   .img-texto2{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-footer{
        display: none;
    }
    
    #p-footer{
        font-size: 15px;
        text-align: center;
    }

    .texto-onuu{
        text-align: justify;
        font-size: 18px;
        padding-bottom: 40px;
    }

}