@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Average+Sans&family=Bebas+Neue&family=Cabin:ital,wght@0,400..700;1,400..700&family=Francois+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

header{
    background-color: #006C7C;
    width: 100%;
}

.list-nav{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-around;
}

.btn-info-nav{
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #006C7C;
    padding-bottom: 6px;
    font-size: 18px;
    padding: 25px 0;
    color: #d9d9d9;
    background-color: #006C7C;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.btn-info-nav:hover{
    border-bottom-color: #faf36d;
    color: #faf36d;
}

.list-social{
    display: flex;
    align-items: end;
    justify-content: space-around;
    gap: 20px;
}

.social:hover{
    transform: scale(1.1);
}

h1{
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: #1690a3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 65px;
    height: 260px;
    border-bottom: #faf36d solid 4px;
}

.quem-somos{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    padding-top: 60px;
    padding-bottom: 60px;
}

.p-quem-somos{
    text-align: center;
    width: 700px;
    padding: 30px;
    justify-content: center;
    font-size: 20px;
    
}



.valores{
    font-family: "Montserrat", sans-serif;
    height: 600px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;
    width: 100%;
    margin: auto;
}

.visao-de-transformacao{
    background-color: #1690a3;
    font-family: "Montserrat", sans-serif;
    color: white;
    text-align: center;
    font-size: larger;
    padding: 10px;
}

.h2-visao-de-transformacao{
    color: #1690a3;
    background-color: #faf36d;
    width: 400px;
    margin: auto;
    padding: 10px;
}

.p-visao-de-transformacao{
    text-align: center;
    padding: 10px;
}

.h2-historia{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #1690a3;
    padding: auto;
    margin-top: 30px;
    font-size: 40px;
}

.div-historia{
    font-family: "Montserrat", sans-serif;
    display: flex;
    padding-bottom: 30px;
}

.p-historia{
    padding: 30px;
    font-size: 19px;
    text-align: justify;
}

.img-historia{
    display: flex;
    padding: 40px;
}

footer{
    background-color: #006C7C;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 2rem;
    position: relative;
    border-top: #faf36d solid;
}

a{
    color: inherit;
}

a:visited{
    color: inherit;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px; 
}

#p-footer {
    flex-grow: 1; 
    text-align: center;
    margin: 0; 
    font-family: "Montserrat", sans-serif;
    color: #d9d9d9;
    font-size: 18px;
}

.img-footer{
    margin-right: auto; 
}

@media screen and (max-width: 480px){

    .list-social{
        display: none;
    }

    .btn-more-info{
        display: none;
    }

    .btn-info-nav{
        display: none;
    }

    .img-logo-header{
        width:200px;
    }

    .img-footer{
        display: none;
    }

    #p-footer{
        font-size: 15px;
        text-align: center;
    }

    h1{
        font-size: 30px;
    }

    .img-quem-somos{
        display: none;
    }

    .p-quem-somos{
        font-size: 15px;
    }

    .valores{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-valores1{
        width: 300px;
    }

    .img-valores2{
        width: 300px;
    }

    .visao-de-transformacao{
        width: 100%;
    }

    .h2-visao-de-transformacao{
        width: 100%;
        font-size: 18px;
    }

    .p-visao-de-transformacao{
        font-size: 15px;
    }

    .img-historia{
        display: none;
    }

    .h2-historia{
        font-size: 25px;
    }
    
    .p-historia{
        font-size: 15px;
        text-align: justify;
    }
    
 }