@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

header{
    margin-bottom: 600px;
    background-color: #006C7C;
    position:fixed;
    width: 100%;
}

nav{
    width: 100%;
    position: fixed;
    background-color: #006C7C;
}

.list-nav{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-around;
}

.list-social{
    display: flex;
    align-items: end;
    justify-content: space-around;
    gap: 20px;
}

.social:hover{
    transform: scale(1.1);
}

.btn-more-info{
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #006C7C;
    padding-bottom: 6px;
    font-size: 18px;
    padding: 25px 0;
    color: #d9d9d9;
    background-color: #006C7C;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.btn-more-info:hover{
    border-bottom-color: #F7EB12;
    color: #F7EB12;
}

footer{
    background-color: #006C7C;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 2rem;
    position: fixed;
}

a{
    color: inherit;
}

a:visited{
    color: inherit;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px; 
}

#p-footer {
    flex-grow: 1; 
    text-align: center;
    margin: 0; 
}

.img-footer{
    margin-right: auto; 
}

