@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    margin-bottom: 600px;
    background-color: #006C7C;
    position: fixed;
    width: 100%;
    top: 0;  /* Adicionado para garantir que o header fique no topo */
}

.list-nav {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-around;
}

.list-social {
    display: flex;
    align-items: end;
    justify-content: space-around;
    gap: 20px;
}

.social:hover {
    transform: scale(1.1);
}

.btn-more-info {
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #006C7C;
    padding-bottom: 6px;
    font-size: 18px;
    padding: 25px 0;
    color: #d9d9d9;
    background-color: #006C7C;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.btn-more-info:hover {
    border-bottom-color: #faf36d;
    color: #faf36d;
}

footer {
    background-color: #006C7C;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 2rem;
    position: fixed;
    font-family: "Montserrat", sans-serif;
    color: #d9d9d9;
    border-top: solid 1px #faf36d;
}

a {
    color: inherit;
}

a:visited {
    color: inherit;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

#p-footer {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

.img-footer {
    margin-right: auto;
}

@media screen and (max-width: 480px) {
    .list-social {
        display: none;
    }

    .btn-more-info {
        display: none;
    }

    .img-logo-header {
        width: 200px;
    }

    .img-footer {
        display: none;
    }

    #p-footer {
        font-size: 15px;
        text-align: center;
    }
}
